.App{
  /* background-color: rgb(69, 69, 69); */
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.tasklist{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;

}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 50px;
}
.add-task{
  display: flex;
  justify-content: center;
  align-items: center;

}
.taskinput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
.addTask-btn {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addTask-btn:hover {
  background-color: #45a049;
}

.taskform {
  width: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  gap: 20px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}